@use "src/styles" as globals;

.notes-area__container {
    width: 100%;
    height: 100%;
    @include globals.sketch-border;
    textarea {
        resize: none;
        margin: 1rem;
        width: 90%;
        height: 90%;
        border-width: 0;
    }
}
