.game-board{
    display: flex;
    flex-direction: column;
    &__row{
        min-height: 0;
        display:flex;
    }
    &__cell{
        border: lightgrey 1px solid;
        user-select: none;
        &:hover{
            background-color: rgb(235, 100, 100);
            box-sizing: border-box;
            &:active{
                background-color: royalblue;
            }
        }
    }
}