.game-board{
    display: flex;
    flex-direction: column;
    &__row{
        min-height: 0;
        display:flex;
    }
    &__cell{
        border: lightgrey 1px solid;
        user-select: none;
    }
}
