.game-info{
    &__container{
        display:flex;
        flex-direction: column;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
    &__row{
        display:flex;
    }
    &__title{
        width:20%;
    }
}