<div class=dice-roller__container>
    <ng-container [ngTemplateOutlet]="dice" [ngTemplateOutletContext]="{context: rolledDice}">
    </ng-container>
</div>

<ng-template #dice let-context='context'>
    <div *ngFor="let diceSet of context" class="dice-type__container">
        <div *ngFor="let die of diceSet.rolledValues" class=d6>
            <div *ngIf="die>1" class="pip pip_1"></div>
            <div *ngIf="die>5" class="pip pip_2"></div>
            <div *ngIf="die>3" class="pip pip_3"></div>
            <div *ngIf="die>3" class="pip pip_4"></div>
            <div *ngIf="die==6" class="pip pip_5"></div>
            <div *ngIf="die>1" class="pip pip_6"></div>
            <div *ngIf="die%2==1" class="pip pip_7"></div>
        </div>
    </div>
</ng-template>